<br class="is-hidden-desktop">
<br class="is-hidden-desktop">
<nav class="navbar is-navigation is-fixed-bottom is-hidden-desktop has-shadow" role="navigation">
<div class="navbar-brand">
    <a class="navbar-item is-expanded is-block has-text-centered" href="/posts">
    <i class="material-icons f-30">search</i>
    </a>
    <a class="navbar-item is-expanded is-block has-text-centered" href="/posts/new">
        <i class="material-icons f-30">add_circle_outline</i>
    </a>
    <a class="navbar-item is-expanded is-block has-text-centered" href="/pages/notifications">
    <i class="material-icons f-30">notifications_none</i>
    </a>
    <a class="navbar-item is-expanded is-block has-text-centered" href="/pages/more">
        <i class="material-icons f-30">more_horiz</i>
    </a>
</div>
<br>
</nav>