<br>
<section class="section">
<div class="notification is-light">
Contact us for feature requests, feedback, any problems, or ideas that you think would help with our mission :) <br>
<a href="mailto:support@persuasionpaper.com">support@persuasionpaper.com</a>
</div>
</section>