<br>
<section class="section">
<div class="notification is-light">
Contact us for feature requests, feedback, ideas that you think would help with our mission, or any problems :) <br>
<a href="mailto:support@persuasionpaper.com">support@persuasionpaper.com</a>
</div>
</section>