<div class="section m-b-0 p-b-0">
  <div class="columns">
    <div class="column is-3 p-0"></div>
    <div class="column m-b-0 p-b-0 is-6">
    <h1 class="title f-30 th-700 m-t-20">Do you like using Persuasion Paper?</h1> 
    <h1 class="subtitle f-25">Show us some love if you like what we do :)</h1> 
    <hr>
    <a href="https://www.producthunt.com/posts/persuasion-paper?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-persuasion-paper" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=225114&theme=dark" alt="Persuasion Paper - A place to share your wildest opinions on any topic | Product Hunt Embed" style="width: 270px; height: 60px;" width="270px" height="60px" /></a><br>
    <style>.bmc-button img{height: 34px !important;width: 35px !important;margin-bottom: 1px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}.bmc-button{padding: 7px 15px 7px 10px !important;line-height: 35px !important;height:51px !important;text-decoration: none !important;display:inline-flex !important;color:#ffffff !important;background-color:#79D6B5 !important;border-radius: 5px !important;border: 1px solid transparent !important;padding: 7px 15px 7px 10px !important;font-size: 20px !important;letter-spacing:-0.08px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Lato', sans-serif !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#ffffff !important;}</style><link href="https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet"><a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/MalachiB"><img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy us coffee"><span style="margin-left:5px;font-size:19px !important;">Buy us a coffee</span></a> <br>

    </div>

  </div>
</div>