<div class="section m-b-0 p-b-0">
  <div class="columns">
    <div class="column is-3 p-0"></div>
    <div class="column m-b-0 p-b-0 is-6">
    <h1 class="title f-30 th-700 m-t-20">Do you like using Persuasion Paper?</h1> 
    <h1 class="subtitle f-25">Show us some love if you are feel entitled :)</h1> 
    <hr>
    buy us coffee <br>
    product hunt <br>
    instagram <br>

    </div>

  </div>
</div>