<div class="section">
<h1 class="title f-30 th-700 m-t-20">More</h1> 
<hr>
<table class="table is-fullwidth">
<tr>
    <td>My Posts</td>
</tr>
<tr>
    <td>My Comments</td>
</tr>
<tr>
    <td>Favorited</td>
</tr>
</table>
<table class="table is-fullwidth">
<tr>
    <td>Admin Dashboard</td>
</tr>
<tr>
    <td>Edit Profile</td>
</tr>
<tr>
    <td>Logout</td>
</tr>
</table>
</div>
