<div class="section">
<h1 class="title f-30 th-700 m-t-20">More</h1> 
<hr>
<table class="table is-fullwidth">
<tr>
    <td>My Posts</td>
</tr>
<tr>
    <td>Favorited</td>
</tr>
</table>
<table class="table is-fullwidth">
<% if current_user.admin? %>
<tr>
    <td><%= link_to 'Admin dashboard', admin_root_path %></td>
</tr>
<% end %>
<tr>
    <td><%= link_to 'Edit profile', edit_user_registration_path %></td>
</tr>
<tr>
    <td><%= link_to "Logout", destroy_user_session_path, method: :delete %></td>
</tr>
</table>
</div>
