<div class="section">
<div class="columns">
    <div class="column is-3 p-0">
    </div>
        <div class="column is-6">
<h1 class="title f-30 th-700 m-t-20">Notifications</h1> 
<hr>
<article class="media">
  <figure class="media-left">
    <i class="material-icons has-text-primary">favorite</i>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Post Title</strong> <small>33 likes</small> • <small>15 comments</small> • <small>250 views</small>
        <br>
        Somebody liked your post 3 minutes ago.
      </p>
    </div>
  </div>
</article>
<article class="media">
  <figure class="media-left">
    <i class="material-icons has-text-primary">comment</i>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Post Title</strong> <small>33 likes</small> • <small>250 views</small>
        <br>
        Somebody commented on your post 4 minutes ago.
        <div class="notification is-light">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis amet quisquam dicta debitis nesciunt nostrum cum tempora mollitia harum nam alias iusto quasi unde, nihil odio veniam illo blanditiis consectetur?
        </div>
      </p>
    </div>
  </div>

</article>
<article class="media">
  <figure class="media-left">
    <i class="material-icons has-text-danger">error</i>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Post Title</strong>
        <br>
        Somebody reported your post. We are currently reviewing it. 
        It will be removed from the public feed until we evaluate whether or not 
        it abides by the persuasion paper guidelines. If we find that it does, it will be 
        re-posted to the public feed and you will be able to continue to post and interact with others on our platform.
        <br> <br>
        If not, you will be given a warning and you can continue to post. If another incident comes up, we will then have to 
        ban your account to ensure persuasive paper maintains a safe and friendly community. Thank you for your patience and happy papering!
      </p>
    </div>
  </div>

</article>
</div>
</div>
</div>
