<div class="section">
<div class="columns">
    <div class="column is-3 p-0"></div>
        <div class="column is-6">
        <h1 class="title f-30 th-700 m-t-20">New Paper</h1> 
        <p class="subtitle">What is a strong belief you hold towards any topic? Remember, your identity is never shown to anyone.</p>
        <hr>
            <div class="card fade-in">
                <div class="card-content">

                    <%= render 'form', post: @post %>

                    <%= link_to 'Back', posts_path %>
                </div>
            </div>
        </div>
</div>
</div>
<%= image_tag 'wave1.png' %>
