
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
<div class="notification is-primary">

<p><strong>Welcome <%= @email %>!</strong> You are almost ready to start speaking your mind on Persuasion Paper. 
We are committed to maintaining a safe and friendly environment for our users so first we need 
to make sure this email address is real to make it a little more challenging for trolls to do what they do. 
Please confirm your email below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
</div>
    </div>
  </section>
  </body>
</html>
